<!doctype html>
<html>
	<head>
		<title>JP FASHION</title>
	</head>
	<body>
		<form action = "{{url_for('display')}}" method = "POST">
			<p>Enter Email Address: </p>
			<input name = "email" type = "text">
			<p>Enter FirstName: </p>
			<input name = "fn" type = "text">
			<p>Enter LastName: </p>
			<input name = "ln" type = "text">
			<p>Enter Contact Number: </p>
			<input name = "cn" type = "text">
			<p>Enter Date of Birth: </p>
			<input name = "dob" type = "text">
			<p>Address: </p>
			<input name = "address" type = "text">
			<input type = "submit">
		</form>
	</body>
</html>